<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questionnaire</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="width:100%;height:50%; display:flex; justify-content: center;align-items:center;">
    <ion-text style="font-size:x-large;">This is question number: {{qnum}}</ion-text>
  </div>
  <div>
    <ion-button id="3" (click)="nextQuestion(3)" expand=block>Strongly Agree</ion-button>
    <ion-button id="2" (click)="nextQuestion(2)" expand=block> Agree</ion-button>
    <ion-button id="1" (click)="nextQuestion(1)" expand=block>Disagree</ion-button>
    <ion-button id="0" (click)="nextQuestion(0)" expand=block>Strongly Disagree</ion-button>
  </div>
  <app-explore-container name="Quiz page"></app-explore-container>
</ion-content>